.counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter {
    display: grid;
    height: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-style:groove;
    border-color: white;
    box-shadow: 0px 0px 20px rgb(70, 70, 70);
    border-radius: 20px;
    padding: 10px;
}

.counter-top, .counter-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter-left, .counter-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-counter {
    color: white;
    font-size: 10px;
}

.point {
    font-size: 15px;
    font-weight: 900;
    color: white;
    width: 50px;
    border-radius: 5px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (min-width:481px) and (max-width:720px) {
    .counter-container {
        margin-top: 0px;
        margin-top: -50px;
        margin-bottom: -300px;
    }
    .counter {
        height: 100px;
        padding: 30px;
    }
}

@media only screen and (min-width:0px) and (max-width:480px) {
    .counter-container {
        margin-top: 0px;
    }
}