body {
    background-color: rgb(34, 34, 34);
    display: grid;
    flex-direction:row;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.icon {
    color: white;
    display: flex;
    justify-content: right;
    cursor: pointer;
    width:350px;
    margin-top: -20px;
}

.mainPage-container {
    position: absolute;  
    display: grid;
    justify-content: center;
    align-items: center;
    border-style:inset;
    border-radius: 40px;
    background-color: rgb(35, 35, 35);
    box-shadow: 0px 0px 50px 
    rgba(148, 23, 23, 2.9);
    padding: 50px;
}

.imagen {
    height: 100%;
    width: 100%;
    border-radius: 250px;
}

.images-game {
    display: grid;
    justify-content: center;
}

.box-top-images, .box-medium-images, .box-bottom-images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-mp {
    border-radius: 100px;
    border-style: inset;
    border-width: 5px;
    border-color: rgb(255, 255, 255);
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding: 10px;
    color: white;
    font-size: 18px;
   
}

.buttons-content {
    display: flex;
    justify-content:space-around;
    padding: 5px;
    color: white;
    font-size: 16px;
    margin-bottom: -20px;
}

.btn-mp {
    height: 100%;
    font-weight: 900;
    border-style: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.btn-mp:focus, .btn-mp:hover, .btn-mp:active {
    transform: scale(1.1);
}

#modal {
    font-weight: 900;
}

.modal-content{
    background-color: rgb(35, 35, 35);
    width: 100%;
}

.close {
    color: white;
}

@media (min-width: 1200px) {
    .img-mp {
        width: 100px;
        margin: 15px;
    }
    .mainPage-container {
        bottom:10%;
        left: 35%; 
        width: 450px;
    }
}
  
@media (max-width: 1199px) and (min-width: 992px) {
    .img-mp {
        width: 100px;
        margin: 15px;
    }
    .mainPage-container {
        bottom:10%;
        left: 30%; 
        width: 400px;
    }  
}
  
@media (max-width: 991px) and (min-width: 768px) {
    .img-mp {
        width: 100px;
        margin: 15px;
    }
    .mainPage-container {
        bottom:10%;
        left: 25%; 
        width: 400px;
    }
}

@media (max-width: 767px) {
    .img-mp {
        width: 90px;
        margin: 20px;
    }
    .mainPage-container {
        bottom:8%;
        left: 3%; 
        width: 350px;
    }
    .icon {
        width:300px;
    }
}
