body {
    background-color: rgb(34, 34, 34);
}

.mainPage-container {
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100vw;
}

.icon {
    color: white;
    display: flex;
    justify-content: right;
    cursor: pointer;
}

.box-container {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 200px;
}

.images-game {
    display: grid;
    justify-content: center;
}

.box-images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.img-mp {
    border-radius: 100px;
    border-style: inset;
    border-width: 5px;
    border-color: rgb(187, 187, 187);
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 100%;
    align-items: center;
    padding: 10px;
    color: white;
    font-size: 15px;
}

.buttons-content {
    display: flex;
    justify-content:space-between;
    width: 100%;
    color: white;
    font-size: 15px;
    margin-top: 30px;
}

.btn-mp {
    height: 100%;
    font-weight: 900;
    border-style: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.btn-mp:focus, .btn-mp:hover, .btn-mp:active {
    transform: scale(1.03);
}

#modal {
    font-weight: 900;
}

.modal-content{
    background-color: rgb(35, 35, 35);
    width: 100%;
}

.close {
    color: white;
}

@media only screen and (min-width: 1200px) {
    .img-mp {
        width: 200px;
        margin: 15px;
    }
    .box-container {
        width: 100%;
        margin-top: 0px;
    }  
}

@media only screen and (min-width:721px) and (max-width: 1199px) {
    .mainPage-container {
        width: 100%;
    }
    .img-mp {
        width: 100px;
        margin: 15px;
    }
    .box-container {
        width: 100%;
        margin-top: 0px;
        padding: 0px;
    }  
    .buttons {
        font-size: 15px;
    }
}
 
@media only screen and (min-width:481px) and (max-width:720px) {
    .img-mp {
        width: 70px;
        margin: 20px;
    }

    .box-container {
        width: 100%;
        margin-top: 0px;
    }
}

@media only screen and (min-width:0px) and (max-width:480px){
    .img-mp {
        width: 45px;
        margin: 10px;
        border-width: 2px;
    }
    .box-container {
        width: 100%;
        margin-top: 0px;
    }
    .buttons {
        font-size: 8px;
    }
}

@media only screen and (min-width:0px) and (max-width:700px) and (orientation: landscape) {
    .img-mp {
        width: 40px;
        margin: 2px;
        border-width: 2px;
    }
    .box-container {
        width: 100%;
        margin-top: 10px;
    }
    .buttons {
        font-size: 8px;
    }
}
