.gamePage-container {
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.navbar {
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
}

.navbar-top, .navbar-bottom {
    display: flex;
    justify-content: center;
}

.navbar-bottom {
    display: flex;
    justify-content: space-evenly;
}

.content-game {
    padding: 5px;
    display: grid;
    justify-content: center;
    margin-top: 10px;
}

.player {
    font-size: 20px;
    font-weight: 900;
    color: brown;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.point {
    font-size:  20px;
    font-weight: 900;
    color: white;
    width: 70px;
    border-radius: 5px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.point-total {
    font-size:  40px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    width: 100px;
    border-radius: 5px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
}

.counter-container, .counter-total-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter-total {
    display: grid;
    width: 400px;
    height: 80%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-style: double;
    border-radius: 20px;
    border-color: rgb(168, 39, 39, 0.5);
    box-shadow: 0px 0px 50px 
    rgba(148, 23, 23, .5);
}

.counter {
    display: grid;
    height: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-style:groove;
    border-color: white;
    box-shadow: 0px 0px 20px rgb(70, 70, 70);
    border-radius: 20px;
    padding: 10px;
}

.counter-top, .counter-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter-left, .counter-right, .counter-total-left, .counter-total-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-counter {
    color: white;
    font-size: 10px;
}

.title-counter-total {
    color: rgb(255, 255, 255);
    font-size: 12px;
    margin: 1px;
}

.p-counter {
    color: rgb(255, 255, 255);
    font-size: 35px;
}

.player {
    color: rgb(255, 255, 255);
}

.img {
    width: 100px;
    border-radius: 150px;
    opacity: .5;
    border-style:inset;
    border-width: 5px;
    border-color: brown;
    box-shadow: 0px 0px 20px rgb(149, 29, 29);
    padding: 5px;
    margin: 30px;
}

.img:hover {
    opacity: 4.6;
    transform: scale(1.1);
}

.box-buttons-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box-selections-content {
    display: grid;
    justify-content: center;
}

.btn-gp {
    border-radius: 30px;
    font-size: 17px;
    font-weight: 800;
    cursor: pointer;
    text-transform: none;
    color: white;
}

.btn-gp:focus, .btn-gp:hover, .btn-gp:active {
    transform: scale(1.1);
    color: white;
}

.msg-output {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: 800;
}

.selection-image {
    width: 170px;
    border-radius: 150px;
    border-style:inset;
    border-width: 5px;
    border-color: brown;
    box-shadow: 0px 0px 25px 
    rgba(148, 23, 23, 0.9);
    padding: 5px;
    margin: 10px;
}

.box-end-game {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.box-content {
    display: grid;
    justify-content: right;
    align-items: center;
    border-style:solid;
    border-width: 2px;
    border-color: brown;
    color: white;
    box-shadow: 0px 0px 25px 
    rgba(148, 23, 23, 0.9);
    border-radius: 20px;
    height: 100%;
    padding: 0px;
}

.loser-image, .winner-image {
    width: 300px;
    height: 300px;
}

.msg-end {
    font-size: 25px;
    font-weight: 900;
    color: white;
    text-align: center;
    margin: 10px;
}

.title {
    display: grid;
    position: absolute;
    text-align: center;
    color: white;
}

@media (min-width: 1200px) {
    .navbar {
        width: 1400px;
        height: 100%;
    }
    .title {
        display: grid;
        position: absolute;
        text-align: center;
        top: 50%;
        left: 39%;
    }
    .title span {
        font-size: 4.5vw;
        font-weight: 800;
        text-shadow: 0px 0px 20px rgba(255, 0, 0, 0.9);
        opacity: .1;
    }

    .game-container {
        width: 800px;
    }
}
  
@media (max-width: 1199px) and (min-width: 992px) {
    .navbar {
        width: 1150px;
        height: 100%;
    }
    .title {
        top: 50%;
        left: 37%;
    }
    .title span {
        font-size: 6vw;
        font-weight: 800;
        text-shadow: 0px 0px 20px rgba(255, 0, 0, 0.9);
        opacity: .1;
    }
    .game-container {
        width: 800px;
    }
}
  
@media (max-width: 991px) and (min-width: 768px) {
    .navbar {
        width: 900px;
        height: 100%;
    }
    .title {
        top: 50%;
        left: 33%;
    }   
    .title span {
        font-size: 7vw;
        font-weight: 800;
        text-shadow: 0px 0px 20px rgba(255, 0, 0, 0.9);
        opacity: .1;
    }
    .game-container {
        width: 500px;
    }

    .img {
        width: 100px;
        border-radius: 150px;
        padding: 5px;
        margin: 20px;
    }
}

@media (max-width: 767px) {
    .navbar {
        width: 500px;
        height: 100%;
    }
    
    .title {
        top: 50%;
        left: 33%;
    }   
    .title span {
        font-size: 9vw;
        font-weight: 800;
        text-shadow: 0px 0px 20px rgba(255, 0, 0, 0.9);
        opacity: .1;
    }

    .game-container {
        width:100%;
    }

    .img {
        width: 60px;
        padding: 5px;
        margin: 10px;
        margin-top: 40px;
    }

    .selection-image {
        width: 140px;
        border-radius: 150px;
        border-style:inset;
        border-width: 5px;
        border-color: brown;
        box-shadow: 0px 0px 25px 
        rgba(148, 23, 23, 0.9);
        padding: 5px;
        margin: 20px;
    }
}