.game-container {
    display: grid;
    justify-content: center;
}

.header {
    padding: 40px;
}

.title-game {
    font-size:  50px;
    font-weight: 900;
    color: brown;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 200px;
    border-radius: 150px;
    opacity: .5;
    border-style:inset;
    border-width: 5px;
    border-color: brown;
    padding: 5px;
    margin: 10px;
}

.img:hover {
    opacity: 4.6;
}