.gamePage-container {
    display: grid;
    width: 1300px;
    justify-content: center;
}

.navbar, .navbar-left , .navbar-medium, .navbar-right {
    display: flex;
    justify-content: center;
    width: 1300px;
}

.content-game {
    padding: 10px;
    display: grid;
    justify-content: center;
}

.player {
    font-size:  20px;
    font-weight: 900;
    color: brown;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.point {
    font-size:  50px;
    font-weight: 900;
    color: white;
    width: 100px;
    border-radius: 5px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-style:groove;
    border-color: brown;
    border-radius: 20px;
    padding: 10px;
    padding-top: 25px;
}

.counter-left, .counter-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 130px;
    border-radius: 150px;
    opacity: .5;
    border-style:inset;
    border-width: 5px;
    border-color: brown;
    box-shadow: 0px 0px 25px 
    rgba(148, 23, 23, 0.9);
    padding: 5px;
    margin: 20px;
}

.img:hover {
    opacity: 4.6;
}

.box-selections-content {
    display: grid;
    justify-content: center;
}

.box-buttons-content {
    display: flex;
    justify-content: center;
}

.btn-gp {
    height: 50px;
    width: 200px;
    border-radius: 30px;
    background-color: brown;
    font-size: 20px;
    font-weight: 800;
    border-style: none;
}

.msg-output {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: 800;
}

.selection-image {
    width: 200px;
    border-radius: 150px;
    border-style:inset;
    border-width: 5px;
    border-color: brown;
    box-shadow: 0px 0px 25px 
    rgba(148, 23, 23, 0.9);
    padding: 5px;
    margin: 30px;
}

.box-end-game {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.box-content {
    display: grid;
    justify-content: right;
    align-items: center;
    border-style:solid;
    border-width: 2px;
    border-color: brown;
    box-shadow: 0px 0px 25px 
    rgba(148, 23, 23, 0.9);
    border-radius: 20px;
    height: 100%;
    padding: 0px;
}

.loser-image, .winner-image {
    width: 300px;
    height: 300px;
}

.msg-end {
    font-size: 30px;
    font-weight: 900;
    color: white;
    text-align: center;
}