body {
    background-color: rgb(20, 20, 20);
    display: grid;
    justify-content: center;
    padding: 10px;
}

.mainPage-container {
    display: grid;
    justify-content: center;
    display: grid;
    justify-content: center;
    align-items: center;
    border-style:inset;
    border-radius: 40px;
    background-color: brown;
    width: 500px;
    height: 100%;
    box-shadow: 0px 0px 50px 
    rgba(148, 23, 23, 2.9);
}

.title {
    display: flex;
    justify-content: center;
    padding: 30px;
    font-size: 28px;
    font-weight: 900;
    font-family:fantasy;
    color: rgb(0, 0, 0);
}

.imagen {
    height: 100%;
    width: 100%;
    border-radius: 250px;
}

.images-game {
    display: grid;
    justify-content: center;
    padding: 20px;
}

.box-top-images, .box-medium-images, .box-bottom-images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-mp {
    width: 110px;
    border-radius: 100px;
    border-style: inset;
    border-width: 5px;
    border-color: rgb(0, 0, 0);
    margin: 5px;
}

.buttons {
    display: flex;
    justify-content:space-evenly;
    padding: 30px;
}

.btn-mp {
    height: 50px;
    width: 180px;
    border-radius: 30px;
    background-color: white;
    font-size: 20px;
    font-weight: 800;
    border-style: none;
    color: black;
    margin: 10px;
}

.btn-mp:focus, .btn-mp:hover, .btn-mp:active {
    background-color: white;
    color: black;
    transform: scale(1.1);
}
